*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
     justify-content: center;
    align-items: center;
    /*border: 2px solid red;*/
    background:linear-gradient(120deg,#ffe5f1,#ffb6c1);
}

.calculator{
    border-radius: 25px;
    padding: 20px;
   background-color:#fff5f8;
   box-shadow: 10px 10px 20px rgba(255,150,170,0.4);
}

input{
    width: 100%;
    border: none;
    padding: 20px;
    text-align: right;
    background:transparent;
    box-shadow: 0px 3px 15px rgba(84,84,84,0.2);
    font-size: 20px;
    cursor: pointer;
    color: #ffffff;
    margin: 10px auto;
}

input::placeholder{
    color: #ffffff;
}

button{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: none;
    margin: 10px;
    background:#fff9f3;
    color: #5a3e36;
    font-size: 20px;
    box-shadow: inset 5px 5px 10px rgba(0,0,0,0.1), inset -5px -5px 10px #ffffff;
    cursor: pointer;
}

.equalbutton{
    background-color: #cfa9ff;
    color: white;
}

.operator{
    color: white;
    background-color: #ffb6b9;
    
}

.operatorr{
    color: white;
    background-color: #ff6f91;
}